.app {
    background-color: #f04e30;
    position: relative;
    text-align: center;
    min-height: 100vh;
}

div.top-container {
    padding: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notes {
    padding: 1.875rem 3.75rem;
    display: flex;
    flex-flow: row wrap;
}

div.bottom-container {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

div.logos {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
}

div.logos img ~ img {
    margin-top: 1.25rem;
}

img.duck {
    bottom: 0;
    max-width: 30%;
    position: absolute;
    right: 0;
}
