.postit {
    background-color: #f6f5f5;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    padding: 1.25rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    text-align: left;
    margin: 1rem;
}

.postit textarea {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #000000;
    font-family: Proxima Nova;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 1.25rem;
    height: 13rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    position: relative;
    resize: none;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1.4);
    }
}

.postit button.like {
    border: none;
    background-color: transparent;
    bottom: 1rem;
    cursor: pointer;
    display: grid;
    outline-offset: 0.125rem;
    padding: 0.4rem;
    position: absolute;
    right: 1rem;
}

.postit button.like img.pulse {
    animation: pulse 0.5s;
}

.postit span.likes-count {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #000000;
}

.postit button.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.postit button.delete:hover {
    transform: scale(1.1);
}
